.certificatesSection {
    display: flex;
    width: 50rem;
    height: 35rem;
    border-radius: 1rem;
    
}

.certificatesImg {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
}

.certificatesImg:hover {
cursor: crosshair;
width: 40rem;
opacity: 1;
filter:contrast(110%)
}

.certificatesFirstImg {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
    border-radius: 1rem 0 0 1rem;
}

.certificatesFirstImg:hover {
cursor: crosshair;
width: 40rem;
opacity: 1;
filter:contrast(110%)
}

.certificatesLastImg {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
    border-radius:0 1rem 1rem 0;
}

.certificatesLastImg:hover {
cursor: crosshair;
width: 40rem;
opacity: 1;
filter:contrast(110%)
}