.certificatesSection {
    display: flex;
    width: 50rem;
    height: 35rem;
    border-radius: 1rem;
    transition: 0.3s;    
}

.certificatesSection:hover {
    box-shadow: 0.3px 0.5px 0.7px hsl(37deg 68% 41%/ 0.34),
    0.8px 1.6px 2px -0.8px hsl(37deg 68% 41%/ 0.34),
    2.1px 4.1px 5.2px -1.7px hsl(37deg 68% 41%/ 0.34),
    5px 10px 12.6px -2.5px hsl(37deg 68% 41%/ 0.34);
}

.certificatesImg {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
}

.certificatesImg:hover {
cursor: crosshair;
width: 40rem;
opacity: 1;
filter:contrast(110%)
}

.certificatesFirstImg {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
    border-radius: 1rem 0 0 1rem;
}

.certificatesFirstImg:hover {
cursor: crosshair;
width: 40rem;
opacity: 1;
filter:contrast(110%)
}

.certificatesLastImg {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
    border-radius:0 1rem 1rem 0;
}

.certificatesLastImg:hover {
cursor: crosshair;
width: 40rem;
opacity: 1;
filter:contrast(110%)
}