.contactContainer {
	margin: auto;
	width: 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.3rem;
	font-weight: 600;
	padding: 1rem;
	background: rgba(255,255,255,0.5);
	color: var(--darkGreen);
	border-radius: 1rem;
	transition: 0.5s;
    	}

.contactContainer:hover {
	box-shadow: 0.3px 0.5px 0.7px hsl(37deg 68% 41%/ 0.34),
    0.8px 1.6px 2px -0.8px hsl(37deg 68% 41%/ 0.34),
    2.1px 4.1px 5.2px -1.7px hsl(37deg 68% 41%/ 0.34),
    5px 10px 12.6px -2.5px hsl(37deg 68% 41%/ 0.34);

}

.contactContainerInput {
	margin: 0.3rem;
	border: none;
	min-height: 1.8rem;
	border-radius: 0.7rem;
	background: rgba(255,255,255,0.7);
	padding: 0 0.3rem 0 0.4rem;
	font-size: 1rem;
}

.contactContainerTextarea {
	margin: 0.3rem;
	border: none;
	border-radius: 0.7rem;
	background: rgba(255,255,255,0.7);
	padding: 0.3rem 0.3rem 0 0.4rem;
	font-size: 1rem;
	min-height: 4rem;
}

.contactContainerSubmit {
    margin: 0.3rem;
	border: none;
	border-radius: 0.7rem;
    padding: 0.3rem 0.3rem 0 0.4rem;
	background-color: var(--darkGreen);
	color: var(--yellow);
	min-height: 3rem;
	font-size: 1.3rem;
	font-weight: 600;
	cursor: pointer;
	transition: 0.5s;
}

.contactContainerSubmit:hover {
	background-color: var(--yellow);
	color: var(--darkGreen);
	box-shadow: 0.2rem 0rem 0.5rem var(--darkGreen);
}