:root {
	--white: #fffffe;      /*var(--white)*/
	--yellow: #f9bc60;     /*var(--yellow)*/
	--lightGreen: #abd1c6; /*var(--lightGreen)*/
	--green: #004643;      /*var(--green)*/
	--darkGreen: #001e1d;  /*var(--darkGreen)*/
}


#portfolioContainer {
	width:100vw;
	height: fit-content;
    min-height:100vh;
	padding-top: 5rem;
}

#navBtnsContainer {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	position: fixed;
	top:0;
	
}

.languageBtn {
	position: fixed;
	top: 1rem;
	right: 4rem;
}

.modeBtn {
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
}

/*---------------------------------------------- CSS MODO NOCHE 	*/
.nightMode{
	background-color: var(--green);
	z-index: 1;
}

/*---------------------------------------------- ICONO SOL 	*/

#sun {
	margin: 0.5rem;
	border-radius: 2rem;
	padding: 0.2rem;
	height: 2rem;
	width: 2rem;
	background-color: var(--green);
	color: var(--yellow);
	transition: 0.5s;
	cursor: pointer;
	z-index: 2;
}

#sun:hover {
	background-color: var(--yellow);
	color: var(--darkGreen);
}

/*---------------------------------------------- BOTONES NAV 	*/

.btnNightMode {
	height: 2.4rem;
	width: 9rem;
 	margin: 0 0.3rem;
 	font-size: 1.5rem;
 	cursor: pointer;
 	border: none;
 	outline: none;
 	background: transparent;
 	color: var(--yellow);
 	font-weight: 600;
 	position: relative;
 	transition: all 0.5s;
 	z-index: 1;
}

.btnNightMode::before {
 	content: "";
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 0.25rem;
 	height: 100%;
 	background-color: var(--yellow);
 	z-index: -1;
 	transition: all 0.5s;
}

.btnNightMode:hover::before {
	width: 100%;
}

.btnNightMode:hover {
	color: var(--darkGreen);
}

.btnNightMode:active:before {
	background: rgba(249, 188, 96, 0.6);
}

/*---------------------------------------------- BANNER CONTACTO REDES	 	*/

.bannerNightMode {
	height: 10rem;
	width: 3rem;
	background-color: var(--lightGreen);
	border-radius: 0 1rem 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 8rem;
}

.bannerNightMode .bannerIcon {
	height: 1.7rem;
	width: 1.7rem;
	transition: 0.5s;
	cursor: pointer;
	color: var(--green);
}

.bannerNightMode .bannerIcon:hover {
	color: var(--darkGreen);
}
/*---------------------------------------------- CV DOWNLOAD		*/

.download-button {
 cursor: pointer;
 position: fixed;
 left: 1rem;
 top: 1rem;
 border: none;
 color: white;
 font-size: 15px;
 font-weight: 600;
 border-radius: 4px;
 z-index: 1;
}

.download-button .docs {
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 10px;
 min-height: 40px;
 padding: 0 10px;
 border-radius: 4px;
 z-index: 1;
 background-color: #242a35;
 border: solid 1px #e8e8e82d;
 transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
 position: absolute;
 inset: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 max-width: 90%;
 margin: 0 auto;
 z-index: -1;
 border-radius: 4px;
 transform: translateY(0%);
 background-color: #01e056;
 border: solid 1px #01e0572d;
 transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
 transform: translateY(100%)
}

.download svg polyline,.download svg line {
 animation: docs 1s infinite;
}

@keyframes docs {
 0% {
  transform: translateY(0%);
 }

 50% {
  transform: translateY(-15%);
 }

 100% {
  transform: translateY(0%);
 }
}
/*---------------------------------------------- CSS MODO DIA 	 	*/

.dayMode {
	background-color: var(--lightGreen);
	z-index: 1;
}

/*---------------------------------------------- ICONO LUNA 	*/
#moon {
	margin: 0.5rem;
	border-radius: 2rem;
	padding: 0.2rem;
	height: 2rem;
	width: 2rem;
	transition: 0.5s;
	background-color: var(--lightGreen);
	color: var(--darkGreen);
	z-index: 2;
}

#moon:hover {
	background-color: var(--darkGreen);
	color: var(--yellow);
}

/*---------------------------------------------- BOTONES NAV	*/
.btnDayMode {
	width: 9rem;
 	height: 2.4rem;
 	font-size: 1.5rem;
 	cursor: pointer;
 	border: none;
 	outline: none;
 	background: transparent;
 	color: var(--darkGreen);
 	font-weight: 700;
 	position: relative;
 	transition: all 0.5s;
 	z-index: 1;
}

.btnDayMode::before {
 	content: "";
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 0.25rem;
 	height: 100%;
 	background-color: var(--darkGreen);
 	z-index: -1;
 	transition: all 0.5s;
}

.btnDayMode:hover::before {
	width: 100%;
}

.btnDayMode:hover {
	color: var(--yellow);
}

.btnDayMode:active:before {
	background: rgba(0, 30, 29, 0.6);
}

/*---------------------------------------------- BOTONES LENGUAJE		*/

#usa {
	cursor: pointer;
	border: none;
	border-radius: 2rem;
	height: 2rem;
	width: 2rem;
	background: linear-gradient(0deg, rgba(186,10,10,1) 0%, rgba(186,10,10,1) 5%, rgba(255,255,255,1) 6%, rgba(255,255,255,1) 19%, rgba(186,10,10,1) 20%, rgba(186,10,10,1) 39%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 59%, rgba(186,10,10,1) 60%, rgba(186,10,10,1) 79%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 95%, rgba(186,10,10,1) 96%, rgba(186,10,10,1) 100%); 

}

#esp {
	cursor: pointer;
	border: none;
	border-radius: 2rem;
	height: 2rem;
	width: 2rem;
	background: linear-gradient(0deg, rgba(186,10,10,1) 0%, rgba(186,10,10,1) 26%, rgba(236,220,32,1) 27%, rgba(236,220,32,1) 74%,  rgba(186,10,10,1) 75%, rgba(186,10,10,1) 100%);
}

/*---------------------------------------------- BANNER CONTACTO REDES	 	*/

.bannerDayMode {
	height: 10rem;
	width: 3rem;
	background-color: var(--green);
	border-radius: 0 1rem 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 8rem;
}

.bannerDayMode .bannerIcon {
	height: 1.7rem;
	width: 1.7rem;
	transition: 0.5s;
	cursor: pointer;
	color: var(--lightGreen);
}

.bannerDayMode .bannerIcon:hover {
	color: var(--yellow);
}

/*---------------------------------------------- CONTACT FORM	 	*/
.contactContainer {
	margin: auto;
	width: 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.3rem;
	font-weight: 600;
	padding: 1rem;
	background: rgba(255,255,255,0.5);
	color: var(--darkGreen);
	border-radius: 1rem;
	}

.contactContainer > input {
	margin: 0.3rem;
	border: none;
	min-height: 1.8rem;
	border-radius: 0.7rem;
	background: rgba(255,255,255,0.7);
	padding: 0 0.3rem 0 0.4rem;
	font-size: 1rem;
}

.contactContainer > textarea {
	margin: 0.3rem;
	border: none;
	border-radius: 0.7rem;
	background: rgba(255,255,255,0.7);
	padding: 0.3rem 0.3rem 0 0.4rem;
	font-size: 1rem;
	min-height: 4rem;
}

.contactContainer > input[type=submit] {
	background-color: var(--darkGreen);
	color: var(--yellow);
	min-height: 3rem;
	font-size: 1.3rem;
	font-weight: 600;
	cursor: pointer;
	transition: 0.5s;
}

.contactContainer > input[type=submit]:hover {
	background-color: var(--yellow);
	color: var(--darkGreen);
	box-shadow: 0.2rem 0rem 0.5rem var(--darkGreen);
}