:root {
	--white: #fffffe;      /*var(--white)*/
	--yellow: #f9bc60;     /*var(--yellow)*/
	--lightGreen: #abd1c6; /*var(--lightGreen)*/
	--green: #004643;      /*var(--green)*/
	--darkGreen: #001e1d;  /*var(--darkGreen)*/
	--fondoCard: rgba(255,255,255,0.5); /*var(--fondoCard)*/
}


#portfolioContainer {
	width:100%;
	height: fit-content;
    min-height:100vh;
	padding: 3rem 0 0 0;
}

#navBtnsContainer {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	position: fixed;
	top:0;
	z-index: 9;
	
}

.languageBtn {
	position: fixed;
	top: 1rem;
	right: 4rem;
	z-index: 10;
}

.modeBtn {
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
	
}

.sectionTitle {
font-size: 1.4rem;
font-weight: 600;
width: 767px;
}

.sectionTitleNight {
	font-size: 1.4rem;
	font-weight: 600;
	width: 767px;
	color: var(--yellow);
	}

 /* Estilo para el tooltip emergente */
 .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
	width: fit-content;
	height: fit-content;
   border-radius: 1rem;
    
  }
  
  /* Estilo para la imagen dentro del tooltip */
  .tooltip img {
    width: 10rem; /* Ajusta el tamaño de la imagen según tus necesidades */
	height: auto;
	border-radius: 1rem;
	box-shadow: 0.3px 0.5px 0.7px hsl(37deg 68% 41%/ 0.34),
    0.8px 1.6px 2px -0.8px hsl(37deg 68% 41%/ 0.34),
    2.1px 4.1px 5.2px -1.7px hsl(37deg 68% 41%/ 0.34),
    5px 10px 12.6px -2.5px hsl(37deg 68% 41%/ 0.34);
  }


/*---------------------------------------------- CSS MODO NOCHE 	*/
.nightMode{
	background-color: var(--green);
	z-index: 1;
}

.TxtColorNight {
	color: var(--fondoCard);
}


/*---------------------------------------------- ICONO SOL 	*/

#sun {
	margin: 0.5rem;
	border-radius: 2rem;
	padding: 0.2rem;
	height: 2rem;
	width: 2rem;
	background-color: var(--green);
	color: var(--yellow);
	transition: 0.5s;
	cursor: pointer;
	z-index: 10;
}

#sun:hover {
	background-color: var(--yellow);
	color: var(--darkGreen);
}




/*---------------------------------------------- CSS MODO DIA 	 	*/

.dayMode {
	background-color: var(--lightGreen);
	z-index: 1;
}

/*---------------------------------------------- ICONO LUNA 	*/
#moon {
	margin: 0.5rem;
	border-radius: 2rem;
	padding: 0.2rem;
	height: 2rem;
	width: 2rem;
	transition: 0.5s;
	background-color: var(--lightGreen);
	color: var(--darkGreen);
	z-index: 10;
}

#moon:hover {
	background-color: var(--darkGreen);
	color: var(--yellow);
}


/*---------------------------------------------- BOTONES LENGUAJE		*/

#usa {
	cursor: pointer;
	border: none;
	border-radius: 2rem;
	height: 2rem;
	width: 2rem;
	background: linear-gradient(0deg, rgba(186,10,10,1) 0%, rgba(186,10,10,1) 5%, rgba(255,255,255,1) 6%, rgba(255,255,255,1) 19%, rgba(186,10,10,1) 20%, rgba(186,10,10,1) 39%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 59%, rgba(186,10,10,1) 60%, rgba(186,10,10,1) 79%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 95%, rgba(186,10,10,1) 96%, rgba(186,10,10,1) 100%); 

}

#esp {
	cursor: pointer;
	border: none;
	border-radius: 2rem;
	height: 2rem;
	width: 2rem;
	background: linear-gradient(0deg, rgba(186,10,10,1) 0%, rgba(186,10,10,1) 26%, rgba(236,220,32,1) 27%, rgba(236,220,32,1) 74%,  rgba(186,10,10,1) 75%, rgba(186,10,10,1) 100%);
}


/*---------------------------------------------- SECTIONS			*/
.allSectionsDiv {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.sectionsDiv {
width: 100%;
height: fit-content;
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
}

/*---------------------------------------------- FOOTER			*/
.footerNight {
	width: 100%;
	text-align: center;
	color: var(--fondoCard);
	font-size: 0.9rem;
	font-weight: 600;
	padding: 7rem 0 0.5rem 0;

}
.footerDay {
	width: 100%;
	text-align: center;
	color: var(--green);
	font-size: 0.9rem;
	font-weight: 600;
	padding: 7rem 0 0.5rem 0;
}

#linkFooter {
	text-decoration: none;
	color: inherit;
}
.titleContactDiv {
	display: none;
}
/*---------------------------------------------- RESPONSIVE        */
@media all and (max-width: 1120px) {
   
	#navBtnsContainer {
		width: fit-content;
		padding: 0.5rem;
		border-radius: 0 1rem 1rem 0;
		top:0.3rem;
		left: 3rem;	
		display: flex;
		justify-content: center;
		position: fixed;
		z-index: 9;	
	}
	
   }

   @media all and (max-width: 984px) {
    .sectionTitle, .sectionTitleNight {
        width: 550px;
		
    }
  }

  @media all and (max-width: 728px) {
	#navBtnsContainer {
		width: 100%;
		top: 0;
		left: 0;
		border-radius: 0;
		height: 3.5rem;
	}

	.sectionTitle, .sectionTitleNight {
        width: 330px;
		
    }
  }

  @media all and (max-width: 460px) {  
	.titleContactDiv {
	display: flex;
	gap: 0.5rem;
	width: 330px;
}
.bannerNightMode {
	height: 1.7rem;
	width: 1.7rem;
	transition: 0.5s;
	cursor: pointer;
	color: var(--lightGreen);
}

.bannerNightMode:hover {
	color: var(--yellow);
}
.bannerDayMode{
	height: 1.7rem;
	width: 1.7rem;
	transition: 0.5s;
	cursor: pointer;
	color: var(--darkGreen);
}

.bannerDayMode:hover {
	color: var(--yellow);
}
}
  